/**
* Cascade Style Sheet
* @copyright 2020 - Project AFPA TICKET
* @author Aufrère Guillian
* 
* Index
* - General
*   > root variables
*   > body
*
* - Commun
*   > buttons
*   > backgrounds
*   > texts
*
* - Header
*   > TopBar
*   > NavBar
*/

/**
* --------------------------------------------------------------
* GENERAL
* --------------------------------------------------------------
*/
:root {
    /**
    * Variables
    */
    /* colors */
    --green-light: #87bb34;
    --green-dark: #44a33d;
    --blue-light: #00a0e0;
    --blue-dark: #0070ca;
    --purple-light: #e3007e;
    --purple-dark: #cf004b;
    --grey-dark: #5A545A;
    --white-dark: #F9F9F9;

    --php-dark: #4F5B93;
    --php-light: #8892BF;
    --javascript: #F7DF1E;

    /* opacity */
    --opacity-ligth: 0.8;
}

body { color: var(--grey-dark); }

/**
* --------------------------------------------------------------
* COMMUN
* --------------------------------------------------------------
*/


/**
* Buttons
*/
/* reset */
.btn {
    border-radius: 0;
    border: 0;
}

/* primary */
.btn-primary { background-color: var(--green-dark); }
.btn-primary:hover { background-color: var(--blue-light); }

/* secondary */
.btn-secondary { background-color: var(--blue-light); }
.btn-secondary:hover { background-color: var(--blue-dark); }

/* thirdly */
.btn-thirdly { background-color: var(--purple-light); color: #fff; }
.btn-thirdly:hover { background-color: var(--purple-dark); color: #fff; }

/**
* Backgrounds
*/

/* blue */
.bg-blue {
    background-color: var(--blue-light);
    color: var(--white-dark)
}
.bg-blue .text-muted { color: rgb(214, 213, 213)!important; }
.bg-blue a { color: var(--white-dark) }

/**
 * Text
 */

/* decoration */
.text-underline { text-decoration: underline; }

/**
* --------------------------------------------------------------
* HEADER
* --------------------------------------------------------------
*/

/**
* TopBar
*/
#topbar .notif-bell a {
    color: rgba(0, 0, 0, .6);
    font-size: 1.5rem;
}

#topbar .dropdown-menu .dropdown-item:hover {
    color: #000;
}

/**
* NavBar
*/
#navbar {
    background-color: var(--green-light);
}

.navbar a {
    color: var(--white-dark);
    transition: .3s;
}

.navbar a:hover {
    opacity: var(--opacity-ligth);
}

/* Burger (for responsive menu) */
.navbar-toggler-icon {
    background-image: url(../images/burger.svg);
}

/* Dropdown */
.navbar .dropdown-item {
    color: #000;
}
